@font-face {
    font-family: 'Rubik';
    src: url('../fonts/Rubik-Regular.woff2') format('woff2'), url('../fonts/Rubik-Regular.woff') format('woff');
    font-display: swap;
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Russo One';
    src: url('../fonts/RussoOne-Regular.woff2') format('woff2'), url('../fonts/RussoOne-Regular.woff') format('woff');
    font-display: swap;
    font-weight: 400;
    font-style: normal;
}

:root {
    --main-color: #ffffff;
    --btn-color: #2760AE;
    --btn-active: #1e4781;
    --offset: 30px;
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
}

nav {
    display: block;
}

body {
    position: relative;
}

html {
    font-family: 'Rubik', sans-serif;
}

input, textarea, button, label {
    font-family: 'Rubik', sans-serif;
}

.container {
    max-width: 1770px;
    padding: 0 30px;
    margin: 0 auto;
    position: relative;
}

.main-text {
    color: var(--main-color);
    font-size: 14px;
}

.reset-btn {
    outline: none;
    border: none;
    padding: 0;
}

.btn {
    cursor: pointer;
    background-color: var(--btn-color);
    color: var(--main-color);
    width: 208px;
    height: 50px;
    font-family: Russo One;
    font-size: 14px;
    font-style: normal;
    font-weight: normal;
    box-shadow: -6px 6px 17px rgba(1, 11, 11, 0.26);
    border-radius: 3px;
    transition: background-color 0.3s ease-in-out;
}

.btn:hover {
    background-color: var(--btn-active);
}

.btn:active {
    background-color: var(--btn-active);
}

.leaf {
    position: fixed;
    right: 30px;
    bottom: 150px;
    transform: rotate(-90deg);
    animation: 1.5s infinite alternate arrowbottom;
}

.leaf__title {
    position: relative;
}

.leaf__title:before {
    content: '';
    position: absolute;
    background-image: url('../img/icons/arrow-left.png');
    background-position: center center;
    background-repeat: no-repeat;
    width: 55px;
    height: 15px;
    right: 115px;
}

@keyframes arrowbottom {
    from {
        bottom: 150px;
    }
    to {
        bottom: 190px;
    }
}

.consultation-wrapper {
    position: absolute;
    bottom: 60px;
    right: 110px;
    max-width: 208px;
    display: flex;
    flex-direction: column;
}

.counsultation-title {
    text-align: right;
    margin-bottom: 15px;
    font-size: 12px;
    line-height: 14px;
}

.consultation-btn {
    position: relative;
}

.consultation-btn:after {
    content: '';
    position: absolute;
    bottom: -25px;
    right: 5px;
    background-image: url('../img/icons/union.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 45px;
    height: 45px;
}

.modal {
    opacity: 0;
    visibility: hidden;
    display: none;
}

.modal-visible {
    visibility: visible;
    opacity: 1;
    display: block;
    transition: all 0.3s ease-in-out;
}

.modal-form {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    justify-content: center;
    height: 100vh;
}

.modal-overlay {
    opacity: 0;
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #101C29;
    z-index: 999;
    transition: .3s all;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.modal-overlay--visible {
    opacity: 1;
    visibility: visible;
    overflow: hidden;
}

.modal-close {
    position: absolute;
    right: 110px;
    top: 25px;
    width: 50px;
    height: 50px;
    background-color: transparent;
    border: 1px solid #FFFFFF;
    outline: none;
    cursor: pointer;
}

.disable-scroll {
    padding-right: 15px;
    overflow: hidden;
}

textarea {
    resize: none;
}

/* modal */

.modal-wrapper {
    display: flex;
}

.modal-form__left {
    display: flex;
    flex-direction: column;
    padding-right: 50px;
    border-right: 1px solid var(--main-color);
    width: 60%;
}

.modal-logo {
    margin-bottom: 30px;
}

.modal-form__right {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 50px;
}

.modal-form__form {
    display: flex;
    flex-direction: column;
}

.modal-form__title {
    font-family: Russo One;
    font-size: 40px;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px var(--main-color);
    text-transform: uppercase;
    margin-bottom: 30px;
}

.modal__form-descr {
    display: block;
    margin-bottom: 15px;
}

.form-input {
    background-color: transparent;
    color: var(--main-color);
    border: none;
    padding: 15px 15px 15px 0;
    outline: none;
    border-bottom: 1px solid var(--main-color);
    margin-bottom: 15px;
}

.form-textarea {
    margin-bottom: 30px;
}

.form-input::placeholder {
    color: var(--main-color);
}

.form-button {
    width: 100%;
}

.modal-contacts {
    font-family: Russo One;
    font-size: 16px;
    color: var(--main-color);
    margin-bottom: 30px;
}

.modal-phone {
    font-weight: 300;
    margin-bottom: 15px;
}

.modal-email {
    font-weight: 300;
    display: inline-block;
}

/* modal */

/* burger-comment */

.burger {
    position: relative;
    width: 50px;
    height: 50px;
    background-color: transparent;
    border: 1px solid #FFFFFF;
    outline: none;
    cursor: pointer;
}

.burger__line {
    position: absolute;
    display: inline-block;
    height: 1px;
    background-color: var(--main-color);
    transition: width 0.3s ease-in-out;
}

.burger__line:nth-child(1) {
    right: 0;
    left: 0;
    top: 15px;
    margin-bottom: 8px;
    width: 50%;
    margin: 0 auto;
}

.burger__line:nth-child(2) {
    right: 0;
    left: 0;
    top: 50%;
    /* transform: translateY(-50%); */
    width: 60%;
    margin: 0 auto;
}

.burger__line:nth-child(3) {
    right: 0;
    left: 0;
    width: 55%;
    margin: 0 auto;
    bottom: 15px;
}

/* burger-comment */

/* header */

.header {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 25px 0;
    z-index: 999;
    background-color: #10243e;
    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
}

.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__left {
    display: flex;
    align-items: center;
}

.header__right {
    display: flex;
    align-items: center;
}

.header__logo {
    margin-right: 30px;
}

.header__list {
    display: flex;
    align-items: center;
}

.header__item {
    transition: border-bottom 0.3s ease-in-out;
    padding: 5px 0;
}

.header__item:hover {
    border-bottom: 1px solid var(--main-color);
}

.header__item:not(:last-child) {
    margin-right: 25px;
}

.header__link-active {
    border-bottom: 1px solid var(--main-color);
}

.header__mail {
    margin-right: 30px;
}

.header__phone {
    margin-right: 30px;
}

.header__mail::before {
    content: '';
    background-image: url('../img/icons/mail.png');
    background-position: center;
    background-repeat: no-repeat;
    padding-right: 30px;
}

.header__phone::before {
    content: '';
    background-image: url('../img/icons/mobile.png');
    background-position: center;
    background-repeat: no-repeat;
    padding-right: 30px;
}

.header__button {
    margin-right: 30px;
}

/* header */

/* hero */

.hero {
    background-image: url('../img/background/hero-background.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    min-height: 720px;
}

.hero__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    position: relative;
}

.hero__text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero__title {
    text-transform: uppercase;
    font-size: 130px;
    font-family: Russo One;
    line-height: 110%;
    position: relative;
    text-align: center;
}

.hero__title:before {
    content: '';
    background-image: url('../img/photoshop.png');
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: -70px;
    left: -180px;
    width: 200px;
    height: 200px;
}

.hero__title:after {
    content: '';
    background-image: url('../img/iphone.png');
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: -140px;
    right: 50px;
    width: 200px;
    height: 200px;
}

.hero__title-span {
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 3px var(--main-color);
}

.hero__subtitle {
    font-size: 20px;
    font-family: Russo One;
    text-transform: uppercase;
    position: relative;
    display: flex;
    align-items: center;
}

.hero__subtitle::before {
    content: '';
    margin-right: 30px;
    width: 50px;
    height: 1px;
    background-color: var(--main-color);
}

.hero__subtitle::after {
    content: '';
    margin-left: 30px;
    width: 50px;
    height: 1px;
    background-color: var(--main-color);
}

.hero__descr {
    position: absolute;
    bottom: 60px;
    left: var(--offset);
    width: 45%;
}

.hero__list {
    display: flex;
    align-items: center;
}

.hero__item {
    display: flex;
    flex-direction: column;
}

.hero__item:not(:last-child) {
    margin-right: 30px;
}

.hero__item-title {
    font-family: Russo One;
    text-transform: uppercase;
    font-size: 16px;
    margin-bottom: 25px;
}

.hero__item-subtitle {
    font-size: 14px;
    line-height: 18px;
    color: #BABABA;
}

/* hero */

/* advantages */

.advantages {
    height: 100vh;
    background-color: #101f30;
    min-height: 720px;
    border-top: 1px solid var(--main-color);
}

.advantages__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    background-image: url('../img/macbook.png');
    background-repeat: no-repeat;
    background-position: right;
    background-size: 40%;
}

.advantages__wrapper {
    width: 60%;
}

.advantages__title {
    font-family: Russo One;
    font-size: 50px;
    line-height: 60px;
    color: var(--main-color);
    text-transform: uppercase;
    margin-bottom: 30px;
}

.advantages__title-span {
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px var(--main-color);
}

.advantages__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.advantages__item {
    width: 49%;
}

.advantages__item:not(:last-child) {
    margin-bottom: 30px;
}

.advantages__item-title {
    font-family: Russo One;
    font-size: 16px;
    color: var(--main-color);
    margin-bottom: 15px;
    display: block;
}

.advantages__item-descr {
    font-family: Rubik;
    font-size: 14px;
    line-height: 17px;
    color: #BABABA;
}

.advantages__right {
    width: 40%;
    background-image: url('../img/macbook.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
}

.advantages__link {
    position: relative;
    padding-left: 70px;
}

.advantages__arrow {
    position: absolute;
    left: 0;
    top: 0;
    width: 55px;
    height: 15px;
    background-image: url('../img/icons/arrow-left.png');
    transform: rotate(180deg);
    background-position: center center;
    background-repeat: no-repeat;
}

/* advantages */

/* contact */

.contact {
    height: 100vh;
    background-color: #101f30;
    min-height: 720px;
    border-top: 1px solid var(--main-color);
}

.contact__container {
    display: flex;
    justify-content: center;
    height: 100%;
}

.contact__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 600px;
    width: 80%;
}

.contact__form {
    display: flex;
    flex-direction: column;
}

.contact__title {
    font-family: Russo One;
    font-size: 50px;
    line-height: 60px;
    color: var(--main-color);
    text-transform: uppercase;
    margin-bottom: 30px;
}

.contact__title-span {
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px var(--main-color);
}

.contact__descr {
    margin-bottom: 15px;
}

.copyright {
    position: absolute;
    bottom: 30px;
    left: var(--offset);
}

.copyright__descr {
    color: #8C8C8C;
}

/* contact */

/* service */

.service {
    height: 100vh;
    background-color: #101f30;
    min-height: 780px;
}

.service__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
}

.service__board {
    margin-bottom: 30px;
}

.service__board-before {
    color: #8C8C8C;
}

.service__title {
    font-family: Russo One;
    font-size: 50px;
    line-height: 60px;
    color: var(--main-color);
    text-transform: uppercase;
    margin-bottom: 30px;
}

.service__title-span {
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px var(--main-color);
}

.service__descr {
    color: #8C8C8C;
    max-width: 600px;
    line-height: 20px;
    margin-bottom: 30px;
}

.service__list {
    display: flex;
    width: 70%;
    justify-content: space-between;
}

.service__item {
    width: 30%;
}

.service__icon {
    object-fit: cover;
    width: 100%;
    margin-bottom: 20px;
}

.service__wrapper {
    width: 60%;
    max-width: 1024px;
}

.service__item-title {
    font-family: Russo One;
    font-size: 16px;
    margin-bottom: 15px;
}

.service__item-descr {
    font-family: Rubik;
    font-size: 14px;
    line-height: 17px;
    color: #BABABA;
    margin-bottom: 30px;
}

.service__item-link {
    width: 100%;
    display: block;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* service */

/* service-one */

.service__one {
    background-color: #101f30;
    padding-top: 120px;
    padding-bottom: 150px;
    border-top: 1px solid var(--main-color);
    position: relative;
}

.service__one-title {
    font-family: Russo One;
    font-size: 50px;
    line-height: 60px;
    color: var(--main-color);
    text-transform: uppercase;
    margin-bottom: 30px;
}

.service__one-container {
    display: flex;
    justify-content: space-between;
}

.service__one-span {
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px var(--main-color);
}

.service__one-left {
    width: 30%;
}

.service__one-right {
    position: absolute;
    right: 0;
    top: 0;
    width: 60%;
    height: 100%;
    padding-top: 120px;
    padding-left: 70px;
    background: linear-gradient(90.94deg, rgba(6, 20, 35, 0.76) 6.2%, rgba(6, 20, 35, 0) 99.2%);
}

.service__one-descr {
    color: #BABABA;
    line-height: 20px;
    margin-bottom: 50px;
}

.service__one-subtitle {
    font-family: Russo One;
    font-size: 16px;
    text-transform: uppercase;
    color: var(--main-color);
    margin-bottom: 30px;
    display: block;
}

.service__one-list {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin-bottom: 50px;
}

.service__one-item {
    display: flex;
    align-items: center;
}

.service__one-item:not(:last-child) {
    margin-bottom: 35px;
}

.service__one-item--descr {
    font-family: Rubik;
    font-size: 14px;
    line-height: 17px;
    color: #BABABA;
}

.service__one-icon {
    width: 60px;
    height: 25px;
    background-image: url('../img/icons/check.svg');
    background-position: center center;
    background-size: cover;
    margin-right: 25px;
    display: inline-block;
}

/* service-one */

/* service-two */

.service-two {
    background-color: #101f30;
    padding-top: 120px;
    padding-bottom: 250px;
    border-top: 1px solid var(--main-color);
    position: relative;
}

.service-two__container {
    display: flex;
    justify-content: flex-end;
}

.service-two__right {
    width: 45%;
}

.service-two__left {
    position: absolute;
    left: 0;
    top: 0;
    width: 50%;
    height: 100%;
    padding-top: 120px;
    padding-left: 100px;
    background: linear-gradient(270deg, rgba(6, 20, 35, 0.76) 6.2%, rgba(6, 20, 35, 0) 99.2%);
}

.service-two__title {
    font-family: Russo One;
    font-size: 50px;
    line-height: 60px;
    color: var(--main-color);
    text-transform: uppercase;
    margin-bottom: 30px;
}

.service-two__span {
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px var(--main-color);
}

.service-two__descr {
    font-size: 14px;
    line-height: 17px;
    color: #BABABA;
    margin-bottom: 50px;
}

.service-two__list {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin-bottom: 50px;
}

.service-two__item {
    display: flex;
    align-items: center;
}

.service-two__item:not(:last-child) {
    margin-bottom: 35px;
}

.service-two__item--descr {
    font-family: Rubik;
    font-size: 14px;
    line-height: 17px;
    color: #BABABA;
}

.service-two__icon {
    width: 60px;
    height: 25px;
    background-image: url('../img/icons/check.svg');
    background-position: center center;
    background-size: cover;
    margin-right: 25px;
    display: inline-block;
}

/* service-two */

/* service-three */

.service-three {
    background-color: #101f30;
    padding-top: 120px;
    padding-bottom: 150px;
    border-top: 1px solid var(--main-color);
    position: relative;
}

.service-three__title {
    font-family: Russo One;
    font-size: 50px;
    line-height: 60px;
    color: var(--main-color);
    text-transform: uppercase;
    margin-bottom: 30px;
}

.service-three__span {
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px var(--main-color);
}

.service__one-container {
    display: flex;
    justify-content: space-between;
}

.service__one-span {
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px var(--main-color);
}

.service-three__left {
    width: 30%;
}

.service-three__right {
    position: absolute;
    right: 0;
    top: 0;
    width: 60%;
    height: 100%;
    padding-top: 120px;
    padding-left: 70px;
    background: linear-gradient(90.94deg, rgba(6, 20, 35, 0.76) 6.2%, rgba(6, 20, 35, 0) 99.2%);
}

.service-three__descr {
    color: #BABABA;
    line-height: 20px;
    margin-bottom: 50px;
}

.service-three__subtitle {
    font-family: Russo One;
    font-size: 16px;
    text-transform: uppercase;
    color: var(--main-color);
    margin-bottom: 30px;
    display: block;
}

.service-three__list {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin-bottom: 50px;
}

.service-three__item {
    display: flex;
    align-items: center;
}

.service-three__item:not(:last-child) {
    margin-bottom: 35px;
}

.service-three__item--descr {
    font-family: Rubik;
    font-size: 14px;
    line-height: 17px;
    color: #BABABA;
}

.service-three__icon {
    width: 60px;
    height: 25px;
    background-image: url('../img/icons/check.svg');
    background-position: center center;
    background-size: cover;
    margin-right: 25px;
    display: inline-block;
}

/* service-three */

/* footer */

.footer {
    padding: 100px 0;
    background-color: #101f30;
}

.copyright-descr {
    color: #8C8C8C;
}

.footer__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}

.footer__top-left {
    display: flex;
    flex-direction: column;
}

.footer__title {
    font-family: Russo One;
    font-size: 24px;
    letter-spacing: -0.436364px;
    color: var(--main-color);
    margin-bottom: 10px;
}

.footer__descr {
    font-family: Rubik;
    font-size: 14px;
    letter-spacing: -0.231818px;
    color: #8C8C8C;
    margin-bottom: 15px;
}

.footer__list {
    display: flex;
    align-items: center;
}

.footer__item:not(:last-child) {
    margin-right: 15px;
}

.footer__link {
    color: var(--main-color);
    font-family: Rubik;
    font-size: 15px;
    letter-spacing: -0.204545px;
    transition: color 0.3s ease-in-out;
}

.footer__link-active {
    color: #488BE7;
}

.footer__link:hover {
    color: #488BE7;
}

/* footer */

.portfolio {
    padding-top: 164px;
    padding-bottom: 80px;
    background-color: #101f30;
}

.portfolio__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
}

.portfolio__board {
    margin-bottom: 30px;
}

.portfolio__board-before {
    color: #8C8C8C;
}

.portfolio__title {
    font-family: Russo One;
    font-size: 50px;
    line-height: 60px;
    color: var(--main-color);
    text-transform: uppercase;
    margin-bottom: 30px;
}

.portfolio__title-span {
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px var(--main-color);
}

.category-list {
    display: flex;
    align-items: center;
    margin-bottom: 50px;
}

.category-item:not(:last-child) {
    margin-right: 30px;
}

.category-link {
    font-family: Russo One;
    font-size: 16px;
    color: #BABABA;
    display: inline-block;
    padding-bottom: 20px;
}

.category-link-active {
    color: var(--main-color);
    border-bottom: 2px solid var(--main-color);
}

.portfolio__arrow {
    position: absolute;
    left: 0;
    top: 0;
    width: 55px;
    height: 15px;
    background-image: url('../img/icons/arrow-left.png');
    transform: rotate(180deg);
    background-position: center center;
    background-repeat: no-repeat;
}

.portfolio__item-link {
    position: relative;
    padding-left: 70px;
}

.portfolio__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.portfolio__item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 30%;
}

.portfolio__item:not(:last-child) {
    margin-bottom: 50px;
}

.portfolio__img {
    margin-bottom: 25px;
}

.portfolio__item-title {
    font-family: Russo One;
    font-size: 24px;
    color: var(--main-color);
    margin-bottom: 25px;
}